.interest-item-line {
	cursor: pointer; 
	border-bottom: 1px solid; 
	border-bottom-color: #e7edf4;
}

.interest-item {
	padding: 20px;
	padding-top: 10px; 
	padding-bottom: 10.5px
}

.interest {
	font-size: 15px; 
	line-height: 22.5px;
	overflow: hidden;
    text-overflow: ellipsis;
    color: #5e9c9e;
}

.interest-list {
	border-right: 1px solid #e7edf4; 
	height: 100%;
	width: 200px;
	position: fixed
}

.logged-user {
	margin-top: 5px;
	cursor: default;
	font-size: 24px;
    text-align: center;
}

.auth-button {
	cursor: pointer;
    font-size: 18px;
    margin: 8px 20px 8px 8px;
    text-align: right;
}

.interests-title {
	cursor: default;
	font-size: 18px;
    margin: 0px 5px;
    margin-top: 12px;
}

.signup { color: #34a034 }
.login { color: #6c6cff; }
.logout { color: #d04c4c; }

.new-interest-form {
	margin: 8px;
	margin-top: 12px;
}

.new-interest-label {
    font-size: 18px;
    line-height: 1.25;
}


/* Input */
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.input-effect{float: left; margin: 20px 3%; margin-bottom: 8px; position: relative;}
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.new-interest-input {border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.new-interest-input ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #5497b7; transition: 0.4s;}
.new-interest-input:focus ~ .focus-border,
.has-content.new-interest-input ~ .focus-border{width: 100%; transition: 0.4s;}
.new-interest-input ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.new-interest-input:focus ~ label, .has-content.new-interest-input ~ label{top: -16px; font-size: 12px; color: #5497b7; transition: 0.3s;}

/* Button */
input[type="submit"]{
	 display: inline-block;
	 padding: 0.35em 1.2em;
	 border: 0.1em solid #FFFFFF;
	 margin: 0 0.3em 0.3em 0;
	 border-radius: 0.12em;
	 box-sizing: border-box;
	 text-decoration:none;
	 font-family:'Roboto',sans-serif;
	 font-weight:300;
	 color:#FFFFFF;
	 text-align:center;
	 transition: all 0.2s;
}

input[type="submit"]:hover{
	 color:#000000;
	 background-color:#FFFFFF;
}