.post-href {
	text-decoration: none;
	color: inherit;
}

.posts-container {
	display: flex;
	flex-wrap: wrap;
}

.post-box {
	padding: 12px;
	flex: 1;
	border: 1px solid white;
}

.post-title {
	display: flex;
	margin-bottom: 5px;
}

.post-writer {
	margin: 0px;
	margin-right: 10px;
	font-size: 18px;
}

.post-user {
	color: #a2a2a2;
	line-height: 1.25;
}

.created-time {
	font-size: 14px;
}

.post-message {
	cursor: default;
	font-family: initial;
}