.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  padding: 0;
  margin: 0;
  overflow: auto;

  --primaryText: #494949;
  --secondary: #8d9aa3;
  --cian : #00b5cc; 
}

.dashboard {
  margin-left: 200px
}